$icomoon-font-family: "GU-icons-v4" !default;
$icomoon-font-path: "./../../fonts" !default;

$icon-G4G-idea-m: "\ea16";
$icon-G4G-idea-s: "\ea17";
$icon-G4G-idea-l: "\ea18";
$icon-G4G-bolt-l: "\e980";
$icon-G4G-bolt-m: "\e9ae";
$icon-G4G-bolt-s: "\e9af";
$icon-G4G-certificate-l: "\e9b0";
$icon-G4G-certificate-m: "\e9b1";
$icon-G4G-certificate-s: "\e9b2";
$icon-G4G-check-empty-l: "\e9b3";
$icon-G4G-check-empty-m: "\e9b4";
$icon-G4G-check-empty-s: "\e9b5";
$icon-G4G-check-filled-l: "\e9b6";
$icon-G4G-check-filled-m: "\e9b7";
$icon-G4G-check-filled-s: "\e9b8";
$icon-G4G-check-l: "\e9b9";
$icon-G4G-check-m: "\e9ba";
$icon-G4G-check-s: "\e9bb";
$icon-G4G-chevron-down-l: "\e9bc";
$icon-G4G-chevron-down-m: "\e9bd";
$icon-G4G-chevron-down-s: "\e9be";
$icon-G4G-chevron-left-l: "\e9bf";
$icon-G4G-chevron-left-m: "\e9c0";
$icon-G4G-chevron-left-s: "\e9c1";
$icon-G4G-chevron-right-l: "\e9c2";
$icon-G4G-chevron-right-m: "\e9c3";
$icon-G4G-chevron-right-s: "\e9c4";
$icon-G4G-circles-l: "\e9c5";
$icon-G4G-circles-m: "\e9c6";
$icon-G4G-circles-s: "\e9c7";
$icon-G4G-clock-l: "\e9c8";
$icon-G4G-clock-m: "\e9c9";
$icon-G4G-clock-s: "\e9ca";
$icon-G4G-close-l: "\e9cb";
$icon-G4G-close-m: "\e9cc";
$icon-G4G-close-s: "\e9cd";
$icon-G4G-cross-l: "\e9ce";
$icon-G4G-cross-m: "\e9cf";
$icon-G4G-cross-s: "\e9d0";
$icon-G4G-edit-empty-l: "\e9d1";
$icon-G4G-edit-empty-m: "\e9d2";
$icon-G4G-edit-empty-s: "\e9d3";
$icon-G4G-edit-filled-l: "\e9d4";
$icon-G4G-edit-filled-m: "\e9d5";
$icon-G4G-edit-filled-s: "\e9d6";
$icon-G4G-eye-l: "\e9d7";
$icon-G4G-eye-m: "\e9d8";
$icon-G4G-eye-s: "\e9d9";
$icon-G4G-forward-l: "\e9da";
$icon-G4G-forward-m: "\e9db";
$icon-G4G-forward-s: "\e9dc";
$icon-G4G-info-l: "\e9dd";
$icon-G4G-info-m: "\e9de";
$icon-G4G-info-s: "\e9df";
$icon-G4G-language-l: "\e9e0";
$icon-G4G-language-m: "\e9e1";
$icon-G4G-language-s: "\e9e2";
$icon-G4G-level-l: "\e9e3";
$icon-G4G-level-m: "\e9e4";
$icon-G4G-level-s: "\e9e5";
$icon-G4G-like-empty-l: "\e9e6";
$icon-G4G-like-empty-m: "\e9e7";
$icon-G4G-like-empty-s: "\e9e8";
$icon-G4G-like-filled-l: "\e9e9";
$icon-G4G-like-filled-m: "\e9ea";
$icon-G4G-like-filled-s: "\e9eb";
$icon-G4G-linkedin-l: "\e9ec";
$icon-G4G-linkedin-m: "\e9ed";
$icon-G4G-linkedin-s: "\e9ee";
$icon-G4G-search-l: "\e9ef";
$icon-G4G-search-m: "\e9f0";
$icon-G4G-search-s: "\e9f1";
$icon-G4G-slack-l: "\e9f2";
$icon-G4G-slack-m: "\e9f3";
$icon-G4G-slack-s: "\e9f4";
$icon-G4G-star-empty-l: "\e9f5";
$icon-G4G-star-empty-m: "\e9f6";
$icon-G4G-star-empty-s: "\e9f7";
$icon-G4G-star-filled-l: "\e9f8";
$icon-G4G-star-filled-m: "\e9f9";
$icon-G4G-star-filled-s: "\e9fa";
$icon-G4G-studio-l: "\e9fb";
$icon-G4G-studio-m: "\e9fc";
$icon-G4G-studio-s: "\e9fd";
$icon-G4G-studio-xl: "\e9fe";
$icon-G4G-thumbs-empty-l: "\e9ff";
$icon-G4G-thumbs-empty-m: "\ea00";
$icon-G4G-thumbs-empty-s: "\ea01";
$icon-G4G-thumbs-filled-l: "\ea02";
$icon-G4G-thumbs-filled-m: "\ea03";
$icon-G4G-thumbs-filled-s: "\ea04";
$icon-G4G-user-l: "\ea05";
$icon-G4G-user-m: "\ea06";
$icon-G4G-user-s: "\ea07";
$icon-G4G-users-l: "\ea08";
$icon-G4G-users-m: "\ea09";
$icon-G4G-users-s: "\ea0a";
$icon-G4G-warning-circle-l: "\ea0b";
$icon-G4G-warning-circle-m: "\ea0c";
$icon-G4G-warning-circle-s: "\ea0d";
$icon-G4G-warning-l: "\ea0e";
$icon-G4G-warning-m: "\ea0f";
$icon-G4G-warning-s: "\ea10";
$icon-G4G-working-ecosystem-l: "\ea11";
$icon-G4G-working-ecosystem-m: "\ea12";
$icon-G4G-working-ecosystem-s: "\ea13";
$icon-G4G-x-logo-m: "\ea14";
$icon-G4G-x-logo-s: "\ea15";

$icon-gu-star-l: "\e9ac";
$icon-gu-star-s: "\e9ad";
$icon-gu-delete-l: "\e9ab";
$icon-gu-delete-m: "\e9aa";
$icon-gu-delete-s: "\e9a9";
$icon-gu-add-user: "\e9a4";
$icon-gu-added-user: "\e9a5";
$icon-gu-edit: "\e9a6";
$icon-gu-learning-match: "\e9a7";
$icon-gu-new-learning-session: "\e9a8";
$icon-gu-ongoing-s: "\e99f";
$icon-gu-Certificates-XL: "\e9a1";
$icon-gu-Certificates-L: "\e9a2";
$icon-gu-Certificates-s: "\e9a3";
$icon-gu-exit_full_screen-L: "\e99c";
$icon-gu-full_screen-L: "\e99d";
$icon-gu-locked-s: "\e99e";
$icon-gu-play-s: "\e9a0";
$icon-gu-arrow-right-m: "\e98f";
$icon-gu-arrow-right-s: "\e990";
$icon-gu-teacher-s: "\e991";
$icon-gu-languague-l: "\e992";
$icon-gu-module-l: "\e993";
$icon-gu-category-l: "\e994";
$icon-gu-arrow-right-l: "\e995";
$icon-gu-badges-m: "\e996";
$icon-gu-duration-l: "\e997";
$icon-gu-copy-s: "\e998";
$icon-gu-copy-m: "\e999";
$icon-gu-meet-m: "\e99a";
$icon-gu-meet-s: "\e99b";
$icon-gu-hamburguer-m: "\e977";
$icon-gu-dashboard-m: "\e978";
$icon-gu-dashboard-l: "\e979";
$icon-gu-dashboard-s: "\e97a";
$icon-gu-trainings-s: "\e97b";
$icon-gu-plus-s: "\e97c";
$icon-gu-plus-m: "\e97d";
$icon-gu-plus-l: "\e97e";
$icon-gu-chevron-right-m: "\e97f";
$icon-gu-chevron_right_l: "\e981";
$icon-gu-close-s: "\e982";
$icon-gu-close-m: "\e983";
$icon-gu-close-l: "\e984";
$icon-gu-badges-s: "\e985";
$icon-gu-manage-s: "\e986";
$icon-gu-pin-s: "\e987";
$icon-gu-send-s: "\e988";
$icon-gu-like-filled-s: "\e989";
$icon-gu-like-s: "\e98a";
$icon-gu-chevron_right_s: "\e98b";
$icon-gu-hamburguer-l: "\e98c";
$icon-gu-filter-s: "\e98d";
$icon-gu-checkbox-s: "\e98e";
$icon-gu-messages: "\e974";
$icon-gu_certifications: "\e976";
$icon-gu_circle_x: "\e921";
$icon-gu_eye_icon: "\e975";
$icon-experience: "\e900";
$icon-lenght: "\e901";
$icon-teacher: "\e902";
$icon-facebook: "\e903";
$icon-globant: "\e904";
$icon-instagram: "\e905";
$icon-linkedin: "\e906";
$icon-twitter: "\e907";
$icon-youtube: "\e908";
$icon-achievements: "\e909";
$icon-calendar: "\e90a";
$icon-catalogue: "\e90b";
$icon-messages: "\e90c";
$icon-statistics: "\e90d";
$icon-activities: "\e90e";
$icon-add: "\e90f";
$icon-alert: "\e910";
$icon-arrow-down: "\e911";
$icon-arrow-left: "\e912";
$icon-arrow-right: "\e913";
$icon-arrow-up: "\e914";
$icon-bin: "\e915";
$icon-card-view: "\e916";
$icon-checkmark-xl: "\e917";
$icon-checkmark: "\e918";
$icon-close-xl: "\e919";
$icon-close: "\e91a";
$icon-completion: "\e91b";
$icon-copy: "\e91c";
$icon-create-training: "\e91d";
$icon-download: "\e91e";
$icon-edit: "\e91f";
$icon-expand: "\e920";
$icon-finished: "\e922";
$icon-hide: "\e923";
$icon-ilt: "\e924";
$icon-less: "\e925";
$icon-list-view: "\e926";
$icon-mag-glass: "\e927";
$icon-more: "\e928";
$icon-notifications: "\e929";
$icon-panel: "\e92a";
$icon-pending-xl: "\e92b";
$icon-pending: "\e92c";
$icon-retry: "\e92d";
$icon-search: "\e92e";
$icon-seniority: "\e92f";
$icon-settings: "\e930";
$icon-start: "\e931";
$icon-upload: "\e932";
$icon-view: "\e933";
$icon-back-path1: "\e934";
$icon-back-path2: "\e935";
$icon-continue-path1: "\e936";
$icon-continue-path2: "\e937";
$icon-edit1-path1: "\e938";
$icon-edit1-path2: "\e939";
$icon-fullscreen-path1: "\e93a";
$icon-fullscreen-path2: "\e93b";
$icon-correct: "\e93c";
$icon-incorrect: "\e93d";
$icon-courses: "\e93e";
$icon-e-learning: "\e93f";
$icon-game: "\e940";
$icon-meetup: "\e941";
$icon-mentoring: "\e942";
$icon-reading: "\e943";
$icon-self-assessments: "\e944";
$icon-trailhead: "\e945";
$icon-videography: "\e946";
$icon-webinar: "\e947";
$icon-workshop: "\e948";
$icon-gu-close: "\e949";
$icon-gu-link: "\e94a";
$icon-gu-see-more: "\e94b";
$icon-gu-success: "\e94c";
$icon-gu-success-fill: "\e94d";
$icon-gu-error: "\e94e";
$icon-gu-dowload-archive: "\e94f";
$icon-gu-dowload-archive-fill: "\e950";
$icon-gu-more-details: "\e951";
$icon-gu-more-details-fill: "\e952";
$icon-gu-pending: "\e953";
$icon-gu-circle-plus: "\e954";
$icon-gu-files: "\e955";
$icon-gu-config: "\e956";
$icon-gu-stats: "\e957";
$icon-gu-comment: "\e958";
$icon-gu-notification: "\e959";
$icon-gu-user: "\e95a";
$icon-gu-tools: "\e95b";
$icon-gu-search: "\e95c";
$icon-gu-password-show-fill: "\e95d";
$icon-gu-password-hidden-fill: "\e95e";
$icon-gu-chevron-right-l: "\e95f";
$icon-gu-chevron-right-s: "\e960";
$icon-gu-chevron-left-l: "\e961";
$icon-gu-chevron-left-s: "\e962";
$icon-gu-chevron-up-l: "\e963";
$icon-gu-chevron-up-s: "\e964";
$icon-gu-chevron-down-l: "\e965";
$icon-gu-chevron-down-s: "\e966";
$icon-gu-arrow-right: "\e967";
$icon-gu-arrow-left: "\e968";
$icon-gu-arrow-up: "\e969";
$icon-gu-arrow-down: "\e96a";
$icon-gu-larrow-right: "\e96b";
$icon-gu-larrow-left: "\e96c";
$icon-gu-larrow-up: "\e96d";
$icon-gu-larrow-down: "\e96e";
$icon-gu-filled-arrow-down: "\e96f";
$icon-gu-star-fill: "\e970";
$icon-gu-comment-fill: "\e971";
$icon-gu-date-fill: "\e972";
$icon-gu-copy-fill: "\e973";
$icon-gu_spinner: "\e980";
