$font-size: 1rem;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-high: 700;

$mobile-portrait: 320px;
$mobile-portrait-m: 375px;
$tablet-portrait: 767px;
$nutcracker: 992px;
$tablet-landscape: 1023px;
$main-content: 1140px;
$desktop-small: 1180px;
$desktop: 1439px;
$desktop-wide: 1920px;
$desktop-hd: 2559px;

$width-container: 1400px;

// 2. Typography
$rem-base: 16;
