#block-benefits{
  background-color: #011222;
  .benefits {
    padding-bottom: 60px;
    padding-top: 80px;
    .orange {
      color: #F16336;
    }
    img {
      margin: 0 auto;
    }
    h3 {
      color: #F2F2F2;
      padding-left: 80px;
      font-size: 36px;
      &::before{
        border-left: 2px solid #F16336;
        content: "";
        display: inline-block;
        height: 50px;
        padding-left: 40px;
        position: relative;
        top: 10px;
      }
    }
    p {
      font-size: 24px;
      position: relative;
      color: #F2F2F2;
      width: 800px;
      right: 0px;
      display: block;
      margin: 0 auto;
      line-height: 40px;
    }
  }
}